

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
input{
    background: #FFE2E2;
}
.input{
    background: white;
}
body {
    background-color: #D18A8A;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


main.container {
    background: #FFE2E2;
    max-width: 350px;
    min-height: 55vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}


form {
    display: flex;
    flex-direction: column;
    
}

.input-field {
    position: relative;
       
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
    
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background:rgba(0, 0, 0, 0.2) ;
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #0000, #363636);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
    outline: none;
}

.imput-field input {
    font-size: 0.9rem;
    color:rgba(0, 0, 0, 0.7);
    
}

.input-field input ::placeholder{
    color:rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 100%;
}


form input[type="submit"]:hover {
    letter-spacing: 0.5px;

}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
   color:rgba(0, 0, 0, 0.7);
   font-size: 0.8rem;
   text-align: center;
   
}

.footer .social-field{
    padding: 0.4rem;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
}

.footer .social-field a i{
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a{
    text-decoration: none;
    color: white;
}


.footer .social-field-media{
    margin-top: 1rem;
    border-radius: 4px;
}

.footer .social-field-instagram{
    background: linear-gradient(to right, #FF8C00, #FF0000, #EE82EE, #DA70D6, #87CEEB);
   
}

.footer .social-field-google{
    background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335);
   
}

.footer .social-field-facebook{
    background: linear-gradient(to right, #1e3c72, #2a5298);
  
}

form button img {
    width: 40px;
    margin-left: -45px;
    background-color: transparent;
    border: none;
    transition: .2s;
    opacity: .6;
 }

 form button[type = "button"]{
    position: absolute;
    right: 10px;
}

input.middle:focus {
    outline-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}