@charset "UTF-8";
@font-face {
  font-family: chewy;
  src: url(Chewy-Regular.ttf);
}
.testimonial-slider-container {
  padding: 1rem 1rem;
}

.testimonial-slider-container .orbit-previous,
.testimonial-slider-container .orbit-next {
  color: #0a0a0a;
}

.testimonial-slider-container .orbit-previous:hover, .testimonial-slider-container .orbit-previous:active, .testimonial-slider-container .orbit-previous:focus,
.testimonial-slider-container .orbit-next:hover,
.testimonial-slider-container .orbit-next:active,
.testimonial-slider-container .orbit-next:focus {
  background-color: transparent;
}

.testimonial-slider-container .orbit-previous {
  left: -1rem;
}

.testimonial-slider-container .orbit-next {
  right: -1rem;
}

.testimonial-slider-container .testimonial-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-slider-container .testimonial-slide-content {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 40em) {
  .testimonial-slider-container .testimonial-slide-content {
    padding: 1rem 4rem;
  }
}

.testimonial-slider-container .profile-pic {
  max-width: 225px;
}

.testimonial-slider-container .testimonial-slide-text {
  padding-left: 3rem;
}

.testimonial-slider-container .testimonial-slide-quotation {
  font-size: 1.2rem;
  position: relative;
}

.testimonial-slider-container .testimonial-slide-quotation::before {
  content: "“";
  font-size: 6rem;
  color: #d6d6d6;
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.testimonial-slider-container .testimonial-slide-author-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 39.9375em) {
  .testimonial-slider-container .testimonial-slide-author-container .testimonial-slide-author-info {
    margin-left: 1rem;
  }
}


body{
    background-color: #FFE2E2;
}
#containerpromocao{
  background-color: lightcoral;
  padding: 20px;
}
#conteinertitulo{
    margin-top: 0.5em;
    font-size: 4em;
    text-align: center;
    font-family: chewy;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: 	#CD853F;
}
.containertexto{
  text-align: center;
    font-size: 1.3em;
    color: white;
}
#buttonpromo{
  border: 2px solid #FFE2E2;
  color: #FFE2E2;
}
#buttonpromo:hover{
  background-color: #FFE2E2;
  border: 2px solid #FFE2E2;
  color: #D18A8A;
}


.logo{
  width: 250px;
  margin-left: 100px;
  margin-top: 0px;;
}

.copyright{
    text-align: center;
    font-size: 14px;
    color: #808080;
}

.social-field{
  padding: 0.4rem;
  font-size: 0.9rem;
  width: 80%;
  cursor: pointer;
}
@media (max-width: 768px) {
    .social-field{
      width: auto;
      font-size: 1.2rem;
    }
    .logo{
      width: auto;
      margin-left: 0px;
      margin-top: 40px;
    }
    a{
      font-size: 0.9em;
    }
}
@media (min-width: 768px){
  p{
    font-size: 1.3em;
}
}

.social-field a i{
  margin: 0 0.5rem;
  width: 15px;
}

.social-field a{
  text-decoration: none;
  color: white;
}


.social-field-media{
  margin-top: 1rem;
  border-radius: 4px;
  padding: 2px;
}

.social-field-instagram{
  background: linear-gradient(to right, #FF8C00, #FF0000, #EE82EE, #DA70D6, #87CEEB);
 
}

.social-field-shopee{
  background: linear-gradient(to right,#FF4500, 	#FFA500  );
 
}

.social-field-facebook{
  background: linear-gradient(to right, #1e3c72, #2a5298);

}
.social-field-wpp{
  background: linear-gradient(to right, green, 	#32CD32);

}

.button{
background-color: lightcoral;
}
.button:hover{
  background-color: #CD5C5C;
}
