label{
  font-size: 1em;
}

 .nome{
    width: 525px;
  }
  #fotoupload{
    width: 272px;
    height: 272px;
  }
  #buttonupload{
    width: 272px;
  }
  @media (max-width: 768px) {
    .nome{
      width: auto;
    }
    a{
      font-size: 0.9em;
    }
    #fotoupload{
      width: auto;
      height: auto;
    }
    #buttonupload{
      width: auto;
    }
  }
  
  
